<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include templates/header.ejs %>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="starter-template">
                <h1>File</h1>

                <form action="/url" method="post">
                GitHub repository URL: <input type="text" name="url"/> <input type="submit" value="Submit">
                </form>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</body>
</html>