<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include templates/header.ejs %>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="starter-template">
                <h1>View Contributions By File</h1>
                <br>
                <br>
                <h2>Enter the filepath of the file you want to inspect below.</h2>
                <br>
                <form action="/filepath" method="post">
                <input type="text" name="filepath"/> <input type="submit" value="Submit">
                </form>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</body>
</html>